# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.log

# Virtual Environment
.venv/
venv/
env/
ENV/

# Django
*.sqlite3
db.sqlite3
/media/
/staticfiles/
staticfiles/
/static/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db